/***********
 * FILE: style.css
 */

body {
  padding: 0;
  margin: 0;
  vertical-align: top;
  background: #FFFFFF;
  font-family: verdana;
  height:100%;
}

#power_button {
  width: 50px;
  background-color: Transparent;
  background-repeat:no-repeat;
}

#volume_plus {
  width: 50px;
  background-color: Transparent;
  background-repeat:no-repeat;
}

#volume_minus {
  width: 50px;
  background-color: Transparent;
  background-repeat:no-repeat;
}

input[type=button] {
  font-size: 8px;
  font-weight: bold;
}

input[type=button]:hover {
  cursor: pointer;
}

/*
  margin-left: auto;
  margin-right: auto;
*/

#canvas_set {
  display: block;
  /** Zoom facility 
  background-position: 25% 10%;
  background-size:400%;
  */
  zoom: 200%;
  position: relative;
  /* z-index: -1; */
}

.channel {
  display: block;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #989381;
  border-width: 4px 1px 1px 4px;
  margin-top: 20px;
}

#channel_off {
  background-color: #000000; 
  display: block;
}

/* Might need a line off command_x functionality */
.line {
  border: 1px solid #11230E;
  background: #11230E;
  padding-left: 2px;
  margin: 0px;
  width: 380px;
  font-size: 10px;
  color: green;
}

.line input[type="text"] {
  background-color: #FFFFFF;
  border: none;
  width: 320px;
  color: green;
  background: #11230E;
}

#gui {
  display: none;
}

#command_prompt {
  display: none;
  background-color:#11230E;
}

#channel_3 {
  display: none;
  background-color:#11230E;
}

#channel_number {

}

#screen {
  /*background: url('../images/sets/tv-screen-old.png') no-repeat;*/
  background-size: 724px 546px;
  background-position: center;
  background-color: #D9D9D0;
  border-color: #000000;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 440px;
  height: 470px;
  border: 1px solid #989381;
  border-width: 1px 4px 4px 1px;
} 

.ft_player_controls {
  width: 405px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.ft_player_controls input {
  margin-top: 10px;
}

#ft_player_logo {
  display: block;
  float: right;
  color: #21600e;
  font-size: 7px;
  font-weight: bold;
  width: 25px;
}

#ft_player_logo_img {
  background: url('../../images/logo_small_green_navy_filmtronic.png') no-repeat;
  background-size: 24px 24px;
  width: 30px;
  height: 24px;
}

.dark_green {
  color: #21600e;
}

.navy {
  color: #374C92;
}

.small {
  font-size: 12px;
}

.app_title {
  float: left;
  margin-top: 14px;
  color: #21600e;
}

#poster {
  background: url("/images/therestlessdays_intro.png") top center;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 10px; 
}

.gossip_section  {
  margin-top: 20px;
  width: 400px;
  float: left;
  margin-left: 40px;
  font-size: 10px;
}

.gossip_tab {
  display: inline-block;
  border: 1px solid #11230E;
  padding: 5px;
  width: 143px;
  font-size: 10px;
  color: green;
}

.great_question {
  color: green;
  font-weight: bold;
}

/*
#char_phil {
  width: 170px;
  margin-left: 20px;
  margin-top: 20px;
  display: block;
}

#char_ledge {
  width: 170px;
  margin-left: 500px;
  margin-top: -200px;
  display: block;
}
*/

.body_game_bg {
  background: #E8EBF4;
  border-width: 20px 0px 0px 0px;
  border-color: grey;
  border-style: solid;
}

.body_game_bg #breadcrumbs {
  font-size: 10px;
}

.review_score {
  font-size: 20px;
  color: #8ED465;
}

.alert {
  color:red;
}

.film_reviews.column h1 {
  padding-bottom: 20px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  color: #374C92;
  display: block;
  margin: 0;
  padding: 0px;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  color: #374C92;
  display: block;
  margin: 0;
  padding: 0px;
  padding-bottom: 10px;
}

#tm_header_symbol{
  color: #358901;
}

#header {
  padding-top: 20px;
}

#logo {
  padding-left: 20px;
}

.logo_small_text {
  color: #21600e;
  padding-left:20px;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.logo_small_text2 {
  color: #21600e;
  padding-left:20px;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.text_coming_soon {
  background-color: #99D884;
  border-width: 2px 0px 2px 0px; 
  border-style: dashed; 
  width: 100%; 
  text-align: center; 
  font-family: verdana; 
  color: #113B69; 
  font-size: 18px;
  padding-bottom: 10px;
}

.column {
  float: left;
  width: 48%;
  padding-left: 20px;
  font-size: 10px;
  vertical-align: top;
}

.poster {
  padding-top: 20px;
  margin-right: 15px;
  width: 200px;
  float: left;
  font-size: 10px;
}

.current {
  border: 4px solid red;
  padding: 10px;
}

.game_start_link {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.game_coming_soon {
  color: orange;
  font-weight: none;
  font-size: 20px;
}

#game_start_button {
  margin-top: 55px;
}

#arrow_controls {
  margin-top: 100px;
  margin-left: 30px;
}

#button_a {
  margin-top: 220px;
  margin-left: 150px;
}

#button_b {
  margin-top: 0px;
  margin-left: 250px;
}

#breadcrumbs {
  padding-left: 20px;
}

.poster img {
  border: 2px solid #75726C;
}

.main_review_poster {
  padding-right: 10px;
}

.short_desc {
  overflow: true;
}